<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">Password Reset</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path == ('/') %}active{% endif %}">
            <a class="nav-link" href="/">Home</a>
          </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item {% if request.path == ('logout') %}active{% endif %}">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          {% else %}
            <li class="nav-item {% if request.path == ('login') %}active{% endif %}">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>Password Reset</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form action="{{ url_for('login.reset_password', token=token) }}" method="POST">
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="password_confirmation">Confirm New Password</label>
          <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
